* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
}

body {
	background: black;
	color: white;
}

main {
	max-width: 900px;
	margin: auto;
}

h1 {
	font-size: 36px;
	text-align: center;
	color: white;
}

.info-section {
	display: flex;
	border: 1px solid white;
	margin-bottom: 20px;
}

.text-box {
	flex: 1;
	padding: 20px;
}

.image-box {
	flex: 1;
	padding: 20px;
	display: inline-block;
	max-height: 280px;
	max-width: 280px;
	transition: transform 0.1s linear;
}

.image-box:hover {
	transform: scale(1.07, 1.07);
}

.image-box-picture {
	height: 100%;
	width: auto;
}
